#map { 
    height: 600px; 
    width: 80%; 
    display: inline-block;
}

#panel {
    width: 16%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 18px;
    background-color: azure
    
}

.legend-control-container {
    width: 140px;
    height: 100px;
    background-color: azure;
    padding: 10px;
    line-height: 30px;
    text-align: center;
    border: solid gray 2px;
}

.range-slider {
    width: 50%;
}

#forward {
    float: right;
}

#reverse {
    float: left;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}